@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@font-face {
	font-family: "GmarketSansLight";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "GmarketSansMedium";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "GmarketSansBold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

$wideWidth: "(min-width:1400px)";
$smallWidth: "(max-width:575px)";

body {
	font-family: "GmarketSansLight";
	background-color: #141414;
	color: #fff;
}
body * {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.loader-container {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}
.navTop {
	.navItem {
		color: #fff;
		padding: 0 10px;
		opacity: 0.4;
		transition: all 0.5s;
		&:hover {
			opacity: 1;
		}
		@media (max-width: 991px) {
			opacity: 1;
		}
	}
}

.banner {
	position: relative;
	background: {
		size: cover;
		position: center top;
	}
	height: 700px;
	// height: 40vw;
	display: flex;
	align-items: center;
	@media #{$wideWidth} {
		// height: 600px;
	}
	@media #{$smallWidth} {
		// height: 230px;
		height: 100vh;
		&::after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.4);
		}
	}
	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: linear-gradient(
			to bottom,
			transparent 60%,
			rgba(20, 20, 20, 0.4) 80%,
			#141414
		);
	}

	.banner-info {
		z-index: 1;
		width: 70vw;
		margin-left: 5vw;
		@media #{$wideWidth} {
			width: 980px;
		}
		h1 {
			font-family: "GmarketSansBold";
			font-size: 5vw;
			text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
			@media #{$wideWidth} {
				font-size: 70px;
			}
			@media #{$smallWidth} {
				font-size: 28.75px;
			}
		}
		p {
			font-size: 16px;
			line-height: 1.4;
			@media #{$wideWidth} {
			}
			@media #{$smallWidth} {
				font-size: 14px;
				// display: none;
				// visibility: hidden;
			}
		}
	}
}

.slide-container {
	margin: 30px 0px;
	@media #{$wideWidth} {
		margin: 0 100px;
	}
	h2 {
		font-family: "GmarketSansMedium";
		margin: 50px 0 20px;
	}
}

.cardWrap {
	padding: 0 10px;
	.movieCard {
		border-radius: 5px;
		height: 170px;
		overflow: hidden;
		background: {
			size: cover;
			position: center top;
		}
		cursor: pointer;
		&:hover {
			.card-info {
				opacity: 1;
			}
		}
	}
}
.card-info {
	opacity: 0;
	transition: all 0.3s ease-in;
	padding: 10px;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.titleWrap {
		h5 {
			font-weight: bold;
		}
		p {
			span {
				margin-right: 5px;
			}
		}
	}
}

span.star {
}
span.r-rated {
	font-family: "GmarketSansMedium";
	color: red;
	margin-left: 10px;
}
span.g-rated {
	font-family: "GmarketSansMedium";
	color: green;
	margin-left: 10px;
}

.detail-container {
	position: relative;
	height: 600px;
	background: {
		size: cover;
		position: center top;
	}
	.detail-comment-container {
		height: 100%;
		padding-left: 10vw;
		.detail-comment {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			height: 100%;
			max-width: 500px;
			.detail-overview {
				padding: 30px 0;
			}
		}
	}
	@media (max-width: 768px) {
		height: 100vh;
		.detail-comment-container {
			position: relative;
			.detail-comment {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				padding: 0 10px;
			}
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}

.trailer-btn {
	cursor: pointer;
}
#trailer {
	.modal-content {
		background-color: black;
	}
	.btn-close {
		background-color: rgba(255, 255, 255, 0.356);
	}
}
.footer {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding: 50px 0;
	margin-top: 100px;
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
	font-size: 16px;
}
