@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@font-face {
	font-family: "GmarketSansLight";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "GmarketSansMedium";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "GmarketSansBold";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

$wideWidth: "(min-width:1400px)";
$smallWidth: "(max-width:575px)";

body {
	font-family: "GmarketSansLight";
	background-color: #000;
	color: #fff;
}
body * {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.loader-container {
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;
}
h1,
h2,
h3,
h4,
h5,
p {
	margin: 0;
	padding: 0;
}
.footer {
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	padding: 50px 0;
	margin-top: 100px;
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
	font-size: 16px;
}
.noReview {
	padding-left: 10px;
	font-size: 18px;
	margin-top: 50px;
	text-align: center;
}
